@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Professor @ViewData["Professor"]</p>
<hr />

<p>Aluno @ViewData["Aluno"]</p>
<adress>
    <strong>Mais informações: </strong><br />
    <a href="https://www.linkedin.com/in/marcelo-teixeira-1390413a/" target="_blank">Linkedin</a>
</adress>
<p>@ViewData["email"]</p>
